In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
movie_data=pd.read_csv("movies_metadata.csv")
movie_data.head()

/tmp/ipykernel_2730/2292396085.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movie_data=pd.read_csv("movies_metadata.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [2]:
movie_data=movie_data.drop('homepage',axis=1)
movie_data=movie_data.drop('id',axis=1)
movie_data=movie_data.drop('poster_path',axis=1)
movie_data=movie_data.drop('belongs_to_collection',axis=1)
movie_data=movie_data.drop('overview',axis=1)
movie_data=movie_data.drop('production_countries',axis=1)
movie_data=movie_data.drop('production_companies',axis=1)
movie_data['revenue']=movie_data['revenue']/10000000
movie_data=movie_data.loc[movie_data['status']=='Released']
movie_data=movie_data.drop('budget',axis=1)
movie_data=movie_data.drop('spoken_languages',axis=1)
movie_data=movie_data.drop('tagline',axis=1)
movie_data=movie_data.drop('genres',axis=1)
movie_data=movie_data.drop('release_date',axis=1)
movie_data=movie_data.drop('video',axis=1)
movie_data=movie_data.drop('status',axis=1)
movie_data=movie_data.drop('original_title',axis=1)
movie_data['popularity']=pd.to_numeric(movie_data['popularity'])
movie_data=movie_data.loc[movie_data['runtime']<250.0]
movie_data=movie_data.loc[movie_data['popularity']>0.5]

movie_data['vote_average_count']=movie_data['vote_average']*movie_data['vote_count']
movie_data['vote_average_count']=movie_data['vote_average_count']/(max(movie_data['vote_average_count'])-min(movie_data['vote_average_count']))

movie_data['popularity']=movie_data['popularity']/(max(movie_data['popularity'])-min(movie_data['popularity']))
movie_data['revenue']=movie_data['revenue']/(max(movie_data['revenue'])-min(movie_data['revenue']))
movie_data['vote_average']=movie_data['vote_average']/(max(movie_data['vote_average'])-min(movie_data['vote_average']))
movie_data['vote_count']=movie_data['vote_count']/(max(movie_data['vote_count'])-min(movie_data['vote_count']))
movie_data['final_rating']=100*(50*movie_data['popularity']+20*movie_data['revenue']+30*movie_data['vote_average_count'])

movie_children_data=movie_data.loc[movie_data['adult']=='False']
movie_children_data=movie_children_data.drop('adult',axis=1)

movie_eng_child=movie_children_data.loc[movie_children_data['original_language']=='en']
movie_eng_child=movie_children_data.drop('original_language',axis=1)

movie_noneng_child=movie_children_data.loc[movie_children_data['original_language']!='en']
movie_noneng_child=movie_children_data.drop('original_language',axis=1)



movie_data.head()

/tmp/ipykernel_4386/892292539.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movie_data=pd.read_csv("movies_metadata.csv")

,adult,imdb_id,original_language,popularity,revenue,runtime,title,vote_average,vote_count,vote_average_count,final_rating
0,False,tt0114709,en,0.040123,0.133988,81.0,Toy Story,0.77,0.384725,0.365726,1565.770143
1,False,tt0113497,en,0.031108,0.094261,104.0,Jumanji,0.69,0.171439,0.146040,782.182223
2,False,tt0113228,en,0.021413,0.000000,101.0,Grumpier Old Men,0.65,0.006536,0.005245,122.802999
3,False,tt0114885,en,0.007056,0.029216,127.0,Waiting to Exhale,0.61,0.002416,0.001819,99.168298
4,False,tt0113041,en,0.015334,0.027468,106.0,Father of the Bride Part II,0.57,0.012291,0.008649,157.553642

In [3]:
movie_data.shape
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31475 entries, 0 to 45463
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   adult               31475 non-null  object
 1   imdb_id             31469 non-null  object
 2   original_language   31474 non-null  object
 3   popularity          31475 non-null  float64
 4   revenue             31475 non-null  float64
 5   runtime             31475 non-null  float64
 6   title               31475 non-null  object
 7   vote_average        31475 non-null  float64
 8   vote_count          31475 non-null  float64
 9   vote_average_count  31475 non-null  float64
 10  final_rating        31475 non-null  float64
dtypes: float64(7), object(4)
memory usage: 2.9+ MB

In [4]:
movie_data['original_language'].value_counts()

en    22750
fr     1793
ja      996
it      935
de      700
      ...
ay        1
la        1
zu        1
eo        1
iu        1
Name: original_language, Length: 72, dtype: int64

In [5]:
movie_data.describe()

,popularity,revenue,runtime,vote_average,vote_count,vote_average_count,final_rating
count,31475.000000,31475.000000,31475.000000,31475.000000,31475.000000,31475.000000,31475.000000
mean,0.007514,0.005797,97.812295,0.599468,0.011158,0.009212,76.798243
std,0.012570,0.027539,27.607713,0.125180,0.041499,0.036948,199.463174
min,0.000914,0.000000,0.000000,0.000000,0.000000,0.000000,4.736052
25%,0.001887,0.000000,88.000000,0.540000,0.000568,0.000414,10.990993
50%,0.003852,0.000000,97.000000,0.610000,0.001350,0.001010,23.234952
75%,0.010561,0.000000,109.000000,0.680000,0.004476,0.003459,69.536206
max,1.000914,1.000000,248.000000,1.000000,1.000000,1.000000,6630.784373

In [ ]:
movie_eng_features=movie_eng_child.pivot_table(index='title',columns='imdb_id',values='final_rating').fillna(0)

In [ ]:
movie_noneng_features=movie_noneng_child.pivot_table(index='title',columns='imdb_id',values='final_rating').fillna(0)

In [ ]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

movie_eng_matrix=csr_matrix(movie_eng_features.values)
movie_noneng_matrix=csr_matrix(movie_noneng_features.values)

model_eng=NearestNeighbors(metric='cosine',algorithm='brute')
model_noneng=NearestNeighbors(metric='cosine',algorithm='brute')

model_eng.fit(movie_eng_matrix)
model_noneng.fit(movie_noneng_matrix)

In [1]:
random_index=int(np.random.uniform(0,movie_eng_child))
distances,indices=model.kneighbors(movie_eng_child.iloc[random_index,:].values.reshape(1,-1),n_neighbors=3)

NameError: name 'np' is not defined

In [2]:
for i in range(len(distances.flatten())):
    if i==0:
        print('Recommendation for {0}:\n'.format(movie_eng_child.index[random_index]))
    else:
        print('{0}:{1},with distance of {2}:'.format(i,movie_eng_child.index[indices.flatten()[i]],distances.flatten()[i]))

NameError: name 'distances' is not defined